@import "tailwindcss";

:root {
  --header-height: 60px;

  /* Header & Footer Colors */
  --header-footer-bg: #2d798c;
  --header-footer-text: #f4f7f7;
  --header-footer-hover: #651010;

  /* Gradient Colors */
  --gradient-top: #f8f9f9;
  --gradient-bottom: #afb5b6;

  /* Text Box Colors */
  --textbox-bg: #fcf7f0;
  --textbox-text: #053c3d;

  /* Logo Colors */
  --logo-color: #bc6f2c;
  --logo-tail-tip-color: #d0dcde;
  --name-logo-color: #e6f4f3;
}

@media (min-width: 768px) {
  :root {
    --header-height: 86px;
  }
}

@layer base {
  body {
    margin: 0;
  }
}