@import "tailwindcss";

:root {
  --header-height: 60px;

  /* Header & Footer Colors */
  --header-footer-bg: #026365;
  --header-footer-text: #e6f3f1;
  --header-footer-hover: #522020;

  /* Gradient Colors */
  --gradient-top: #bbbfc2;
  --gradient-bottom: #223032;

  /* Text Box Colors */
  --textbox-bg: #0d282d;
  --textbox-text: #F5E6D3;

  /* Logo Colors */
  --logo-color: #bc6f2c;
  --logo-tail-tip-color: #d0dcde;
  --name-logo-color: #e6f4f3;
}

@media (min-width: 768px) {
  :root {
    --header-height: 86px;
  }
}

@layer base {
  body {
    margin: 0;
  }
}